In [11]:
import pandas as pd
import os
import csv

In [12]:
csv1 = "raw_data/election_data_1.csv"
csv2 = "raw_data/election_data_2.csv"

file1 = pd.read_csv(csv1)
file2 = pd.read_csv(csv2)

In [13]:
file1.head()

   Voter ID      County Candidate
0   1405627      Harsaw    Vestal
1   1711723  Mershville    Vestal
2   1550639  Matterdawn    Vestal
3   1042621      Harsaw    Vestal
4   1583965  Matterdawn    Vestal

In [15]:
file2.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [24]:
file1.dtypes

Voter ID      int64
County       object
Candidate    object
dtype: object

In [16]:
file2.dtypes

Voter ID      int64
County       object
Candidate    object
dtype: object

In [19]:
file1['Candidate'].value_counts()

Vestal    385440
Torres    353320
Seth       40150
Cordin     24090
Name: Candidate, dtype: int64

In [20]:
file2['Candidate'].value_counts()

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [21]:
file1['County'].value_counts()

Harsaw        321200
Matterdawn    200750
Mershville    160600
Porpus         80300
Arrent         40150
Name: County, dtype: int64

In [22]:
file2['County'].value_counts()

Marsh      2265957
Queen       697203
Bamoo       348658
Trandee     104617
Raffah      104566
Name: County, dtype: int64

In [29]:
file1.count()

Voter ID     803000
County       803000
Candidate    803000
dtype: int64

In [31]:
file1["Voter ID"].nunique()

803000

In [30]:
file2.count()

Voter ID     3521001
County       3521001
Candidate    3521001
dtype: int64

In [33]:
file2["Voter ID"].nunique()

3521001